services:
  - type: web
    name: listings-app
    runtime: node
    startCommand: npm start
    plan: free
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 8080
      - fromGroup: listings-env
