body{
    background-color: rgb(202, 172, 195) !important;
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
} 

.container{
    flex:1
}

/* .edit, .new{
    width: 300px;
    height: 600px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px;
    box-shadow:  rgb(33, 8, 8);
    margin: 30px auto;
} */


/* button{
    background-color: green;
    color: aliceblue;
    width: 100%;
    
    margin-top: 20px;
    padding: 20px;
} */


/* Navbar */

.navbar{
    height: 5rm;
    background-color: greenyellow;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* footer */

.f-info-links a{
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover{
  text-decoration: underline;
}

.f-info-links,
body{
    background-color: rgb(202, 172, 195) !important;
     font-family: "Plus Jakarta Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
} 

.container{
    flex:1
}

.navbar{
    height: 5rm;
    background-color: greenyellow;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
  text-decoration: none;
  color: #222222;
}

.f-info-links a:hover{
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.f-info-socials i{
    font-size: 1.5rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: aqua;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

.fa-square-facebook{
    color: blue;
}

.fa-square-instagram{
    color: red;
}

.fa-square-linkedin{
    color: blue;
}

.card{
    border: none !important;
    margin: 2rem;
    border-radius: 1rem;
}

.card-img-top{
    margin-top: 1rem;
    border-radius: 1rem !important;
    width: 100% !important;
    height: 250px;
    object-fit: cover !important;

}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
 .card-img-overlay:hover{
opacity: 0.2;
background-color: white;

 }

 .add-btn{
    background-color: #fe424d !important;
    border: none !important;
    width: 100%;
 }

 .edit-btn{
    background-color: #fe424d !important;
    border: none !important;
    width: 100%;
 }

.show-img{
    height: 30vh;
}

.btns{
    display: flex;

}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
